<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./style.css">
        <title>logo</title>
    </head>
    <body>
        <div class="bor-size">
            <div class="logo-icon">
                <h1 id="ic-1">C</h1>
                <h1 id="ic-2">V</h1>
                <h1 id="ic-3">J</h1>
                <h1 id="ic-4">F</h1>
                <h1 id="ic-5">D</h1>
            </div>
            <div class="logo-text">
                <p>Junior Front-end Developer</p>
            </div>
        </div>
    </body>    
</html>