$font-stack: 'Inter'; 

:root {
    --back--color: hwb(0 0% 100%);
}

body {
    margin: 0 auto;
}

* {
    border: 1px solid red;
}

.head-main {
    height: auto;
    width: auto;
    background: var(--back--color);
}

#bor-size {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    margin: 0 auto;
    width: 1280px;
}

.logo-icon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: 1px solid white;

    h1 {
        position: absolute;
        font-family: monospace;
        font-weight: 400;
        font-size: 80px;
        line-height: 70px;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 0;
        top: 7px;
    }
}

#ic-1 {
    left: 20px;
}

#ic-2 {
    left: 25px;
}

#ic-3 {
    left: 50px;
}

#ic-4 {
    right: 51px;
}

#ic-5 {
    right: 20px;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 21px;
    height: 87px;
    width: 951px;
    p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.3em;
        color: white;
        text-transform: uppercase;
        margin: 0;
    }
}

%size-fon {
    background-color: #0e0a41;
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid var(--back--color);
}

.main {
    @extend %size-fon;
    background-image: url(../foto/log/image-4.png);
}

.fon-set {
    margin: 0 auto;
    width: 1280px;
    height: 670px;
}

.block-infa {
    display: flex;
    margin-top: 23px;
    justify-content: space-evenly;
}

.com-infa {
    height: 588px;
    width: 647px;
}

.blc-cont {
    display: flex;
}

.bor-foto {
    width: 260px;
    height: 370px;
    background: rgba(22, 21, 21, 0.5);
    border: 6px solid #7a7171;
    border-radius: 70px;
}

.block-desc {
    height: 254px;
    width: 370px;
    background: var(--back--color);
    border: 3px solid #7A7171;
    border-radius: 54px;
    margin-top: 28px;

    h3 {
        margin: 0 auto;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
}

.bl-desc-text {
    display: flex;
    justify-content: center;

    div {
        margin: 0px 0px 0px 20px;

        p {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            margin: 10px 0;
    
            span {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
                text-align: right;
                color: #BF0707;
            }
        }
    }
}

#but-text {
    width: 196px;
    height: 28px;
    background: white;
    border: 3px solid #F30909;
    border-radius: 40px;
    margin: 17px auto 0px;

    h2 {
        font-family: $font-stack;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: var(--back--color);
        margin: 0 auto;
        text-align: center;
    }
}

#cont-menu {
    position: absolute;
    bottom: 0px;
    height: 213px;
    width: 418px;
    background: var(--back--color);
    border: 1px solid white;
}

.nav-menu {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 82px 82px;
    height: 164px;
    width: 280px;
    border-radius: 50px;

    button:hover {
        background: rgba(118, 15, 15, 0.6);
    }
}

.desc-infa { 
    display: flex;
    height: 577px;
    width: 485px;
    background: hwb(0deg 0% 100% / 50%);
    border: 5px solid #7A7171;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.text-desc {
    font-weight: 700;
    font-size: 23px;
    font-family: $font-stack;
    line-height: 27.84px;
    text-align: justify;
    color: white;
    width: 431px;
    text-indent: 50px;
}

%settings-shared {
    background: rgba(211, 203, 203, 0.6);
    border: 5px solid var(--back--color);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 65px;
        width: 72px;
    }
}

#btn-1 {
    @extend %settings-shared;
    border-radius: 50px 0px 0px 0px;;
}


#btn-2 {
    @extend %settings-shared;
    border-radius: 0px 50px 0px 0px;;
}

#btn-3 {
    @extend %settings-shared;
    border-radius: 0px 0px 0px 50px;;
}

#btn-4 {
    @extend %settings-shared;
    border-radius: 0px 0px 50px 0px;;
}

#knoledge {
    height: 790px;
    @extend %size-fon;
    background-image: url(../foto/log/image-5.jpg);
}

#education {
    height: 790px;
    @extend %size-fon;
    background-image: url(../foto/log/image\ 8.png);
}

#projects {
    height: 790px;
    @extend %size-fon;
    background-image: url(../foto/log/image\ 7.png);
}

.edu-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

#edu-block {
    width: 520px;
    height: 630px;
    background: linear-gradient(0deg, rgba(69, 5, 80, 0.5), rgba(69, 5, 80, 0.5)),
        rgba(255, 255, 255, 0.75);
    border-radius: 40px;
}

#head-block {
    display: flex;
    width: 450px;
    height: 78px;
    border: 5px solid var(--back--color);
    border-radius: 40px 0px;
    justify-content: center;
    align-items: center;
    margin: 30px auto 25px;
}

.h-text {
    font-size: 35px;
    font-weight: 700;
    font-family: $font-stack;
    color: var(--back--color);
    line-height: 38px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-decoration-line: underline;
    margin: 0 auto;
}

.text-block {
    font-size: 23px;
    font-weight: 400;
    font-family: "Inter";
    color: var(--back--color);
    line-height: 38px;
    height: 474px;
    width: 474px;
    margin: 0 auto;
    letter-spacing: 5px;
    span {
        font-weight: 800;
    }
}

#h3-bk-text {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px;
}

%text-ul {
    font-family: $font-stack;
    font-size: 30px;
    color: var(--back--color);
}

ul {
    padding: 0px;
    p {
        @extend %text-ul;
        font-weight: 800;
        letter-spacing: 20px;
        margin: 10px auto;
    }
    li {
        @extend %text-ul;
        font-weight: 400px;
        margin-left: 50px;
        letter-spacing: 10px;
    }
}

.block-slills {
    display: flex;
    margin: 0 auto;
}

.blk-pic {
    display: flex;
    height: auto;
    width: auto;
}

.pic-bor {
    width: 320px;
    height: 320px;
    background: rgba(255, 255, 255, 0.17);;
    border: 3px solid #151313;
    img {
        width: 300px;
        height: 300px;
    }
}

.bor-1 {
    border-radius: 50px 100px 0px;
}

.bor-2 {
    border-radius: 0px 100px 50px 100px;
    margin-top: 310px;    
    margin-left: 4px;
}

#skill-text {
    margin-top: 18px;
    height: 560px;
    width: 356px;
    background: rgba(49, 134, 123, 0.50);
    border: 3px solid var(--back--color);
    border-radius: 60px 0px 60px 60px;
    display: inline-block;
    p {
        font-family: $font-stack;
        font-size: 22px;
        font-weight: 700;
        color: var(--back--color);
        text-align: justify;
        text-indent: 45px;
        line-height: 35px;
        margin: 0;
        padding: 47px 23px;
    }
}

.close-text {
    display: none;
}

.type-slills {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#select-skill {
    height: 52px;
    width: 356px;
    border: 2px solid var(--back--color);
    background: rgb(49 134 123 / 0.61);
    border-radius: 30px 30px 15px 15px;
    font-size: 30px;
    color: var(--back--color);
    font-family: $font-stack;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.47em;
    line-height: 36.31px;
}

#select-skill:hover {
    background: rgba(33, 168, 145, 0.69);
}

.work-cards {
    display: flex;
    justify-content: space-evenly;
}

#work-1 {
    height: auto;
    width: auto;
}

#work-2 {
    height: auto;
    width: auto;
}

#work-3 {
    height: auto;
    width: auto;
}

#work-4 {
    height: auto;
    width: auto;
}

#work-5 {
    height: auto;
    width: auto;
}

.work-screen-open {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    width: 505px;
    background: rgba(69, 43, 170, 0.4);
    border: 5px solid var(--back--color);
    border-radius: 20px 20px 50px 50px;
    img {
        width: 495px;
        height: 530px;
        border-radius: 20px 20px 50px 50px;
    }
} 

.work-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 526px;
    width: 131px;
    background: rgba(69, 43, 170, 0.4);
    border: 5px solid var(--back--color);
    border-radius: 20px 20px 85px 85px;
    margin-top: 84px;
    img {
        height: 516px;
        width: 121px;
        border-radius: 20px 20px 85px 85px;
    }
}

.floor-work {
    display: flex;
    width: 462px;
    height: 69px;
    margin: 0 a;
    border-radius: 50px;
    background: rgba(68, 26, 121, 0.62);
    .icon-pic {
        height: 69px;
        width: 69px;
        background: rgba(255, 255, 255, 0.85);
        border-radius: 50% 0 0 50%;
        img {
            width: 69px;
            height: 69px;
            position: relative;
            top: 0;
            right: 0.1px;
        }
    }
    .text-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 368px;
        height: 69px;
        p {
            font-size: 35px;
            font-weight: 700;
            font-family: $font-stack;
            color: #FFFFFF;
            text-align: center;
            letter-spacing: 0.2em;
            margin: 0 auto;
        }
    }
}