<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div style="background: #a92b2b; margin: 0;">
        <form action="">
            <button id="butExpeClose">Closed</button>
        </form>
        <form action="">
            <button id="butExpeOpen">Open</button>
        </form>
        <form action="">
            <button id="checkOpBut">Checking_open</button>
        </form>
        <form action="">
            <button id="checkClBut">Checking_closed</button>
        </form>
        <div style="display: flex;">
            <div id="work-1">
                <div id="scr-img" class="work-screen-close">
                    <img src="" alt="screen tv-serial">
                </div>
                <div class="floor-work  floor-work-closed" id="floor-work">
                    <div class="icon-pic">
                        <img src="image 9.png" alt="github icon">
                    </div>
                    <div class="text-icon" id="text-icon" style="display: none;">
                        <a style="text-decoration: none;" href="">
                            <p>Moon Knight</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="work-2">
                <div id="scr-img" class="work-screen-open">
                    <img src="" alt="screen tv-serial">
                </div>
                <div class="floor-work" id="floor-work">
                    <div class="icon-pic">
                        <img src="image 9.png" alt="github icon">
                    </div>
                    <div class="text-icon" id="text-icon">
                        <a style="text-decoration: none;" href="">
                            <p>Moon Knight</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="work-3">
                <div id="scr-img" class="work-screen-close">
                    <img src="" alt="screen tv-serial">
                </div>
                <div class="floor-work  floor-work-closed" id="floor-work">
                    <div class="icon-pic">
                        <img src="image 9.png" alt="github icon">
                    </div>
                    <div class="text-icon" id="text-icon" style="display: none;">
                        <a style="text-decoration: none;" href="">
                            <p>Moon Knight</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="height: 300px;">

        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>