body {
    margin: 0%;
}

/*
* {
    border: 1px solid green;
}
*/

#work-3 {
    height: auto;
    width: 505px;
    margin: 0 auto;
}

.work-screen-open img {
    width: 500px;
    height: 450px;
    border-radius: 20px 20px 50px 50px;
}

.floor-work {
    display: flex;
    width: 463px;
    height: 69px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 50px;
    background: rgba(68, 26, 121, 0.62);
}

.floor-work .icon-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 69px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.floor-work .icon-pic img {
    width: 71px;
    height: 71px;
}

.floor-work .text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    height: 69px;
}

.floor-work .text-icon p {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Inter';
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.4em;
    margin: 0 auto;
}

@keyframes changeBackColorCloseIconText {
    from {
        background: rgba(68, 26, 121, 0.62);
    }
    to {
        background: rgba(69, 26, 121, 0);
    }
}

@keyframes changeBlockCloseIcon {
    from {
        width: 462px;
    }

    to {
        width: 69px;
    }
}

.floor-work-closed {
    display: flex;
    width: 69px;
    height: 69px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 50px;
    background: rgb(255 255 255);

    animation-name: changeBackColorCloseIconText, changeBlockCloseIcon;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
}

@keyframes changeBackColorOpenIconText {
    from {
        background: rgba(69, 26, 121, 0);
    }
    to {
        background: rgba(68, 26, 121, 0.62);
    }
}

@keyframes changeBlockOpenIcon {
    from {
        width: 69px;
    }
    to {
        width: 462px;
    }
}

.floor-work-open {
    display: flex;
    width: 462px;
    height: 69px;
    margin: 0 auto;
    border-radius: 50px;
    background: rgba(68, 26, 121, 0.62);
    border: 3px solid black;

    animation-name: changeBackColorOpenIconText, changeBlockOpenIcon;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
}

@keyframes changeWdCloseImage {
    from {
        width: 505px;
    }
    to {
        width: 131px;
    }
}

@keyframes changeWdOpenImage {
    from {
        width: 131px;
    }
    to {
        width: 505px;
    }
}

@keyframes changeHtCloseImage {
    from {
        height: 456px;
    }
    to {
        height: 526px;
    }
}

@keyframes changeHtOpenImage {
    from {
        height: 526px;
    }
    to {
        height: 456px;
    }
}

.work-screen-open {
    margin: 84px auto 0px;
    height: 456px;
    width: 505px;
    background: rgba(69, 43, 170, 0.4);
    border: 5px solid black;
    border-radius: 20px 20px 50px 50px;

    animation-name: changeWdOpenImage, changeHtOpenImage;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
}

.work-screen-close {
    height: 526px;
    width: 131px;
    margin: 84px auto 0px;
    background: rgba(69, 43, 170, 0.4);
    border: 5px solid black;
    border-radius: 20px 20px 50px 50px;

    animation-name: changeWdCloseImage, changeHtCloseImage;
    animation-duration: 1s, 1s; 
    animation-iteration-count: 1;
}